.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.functionsContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 10vh;
}

.cvContainer {
    width: 90vw;
    aspect-ratio: 1 / 1.414;
    max-height: 90vh;
    max-width: calc(90vh / 1.414);
    background: var(--background);
    box-shadow: black 0 0 10px;
}

.generalInformationContainer {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid var(--accent);
}

.name {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contact {
    width: 50%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
}

.icon {
    color: var(--accent);
}

.item {
    display: flex;
    align-items: center;
}

.item p {
    font-size: 10px;
    margin-left: 5px;
}

.cvContent {
    display: flex;
    width: 100%;
    height: 80%;
}

.cvLeft {
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.educationContainer {
    width: 100%;
    height: 50%;
}

.experienceContainer {
    width: 100%;
    height: 50%;
}

.cvRight {
    width: 30%;
    height: 100%;
}

.skillsContainer {
    width: 100%;
    height: 100%;
    border-left: 2px solid var(--accent);
}

.skills {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

h4 {
    margin: 15px;
}

.skillsContainer .item {
    margin: 5px;
}

.skillsContainer .item p {
    font-size: 12px;
}