.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.functionsContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 10vh;
}

.cvContainer {
    width: 90vw;
    aspect-ratio: 1 / 1.414;
    max-height: 90vh;
    max-width: calc(90vh / 1.414);
    background: var(--background);
    box-shadow: black 0px 0px 10px;
}

.generalInformationContainer{
    background: red;
    width: 100%;
    height: 20%;
}

.cvContent{
    display: flex;
    width: 100%;
    height: 80%;
}

.cvLeft {
    width: 70%;
    height: 100%;
    background: blue;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.educationContainer{
    width: 100%;
    height: 50%;
    background: yellow;
}

.experienceContainer{
    width: 100%;
    height: 50%;
    background: pink;
}

.cvRight {
    width: 30%;
    height: 100%;
    background: green;
}

.skillsContainer{
    width: 100%;
    height: 100%;
    background: orange;
}